.loginform
 {
   
    background-color: #3880FF;
    text-align: center;
    color: white;
    margin: 1em;
    font-weight: bold;

}

.form-group
 {
   margin: 0;
}

.button{
    width: 5em;
    background-color: black;
}